In [1]:
import pandas as pd
import numpy as np

In [2]:
filename = 'recapitulatif-m-5.csv'

In [3]:
data = pd.read_csv(filename)
data

,Unnamed: 0,Base,Compo2,Compo3,UNXP,DynEvo,NB_TO_EXPLAIN,NB_STEPS,ALL_UNXP
0,model1.csv,90,0,0,0,0,90,1,0
1,model2.csv,85,3,2,0,0,90,1,0
2,model3.csv,86,0,4,0,0,90,1,0
3,model4.csv,84,0,5,1,1,90,2,0
4,model5.csv,86,4,0,0,0,90,1,0
...,...,...,...,...,...,...,...,...,...
511,model512.csv,76,7,7,0,0,90,1,0
512,model513.csv,76,9,5,0,0,90,1,0
513,model514.csv,71,9,10,0,0,90,1,0
514,model515.csv,78,9,3,0,0,90,1,0
515,model516.csv,73,9,8,0,0,90,1,0

In [4]:
np.unique(data["NB_STEPS"], return_counts=True)

(array([1, 2]), array([403, 113]))

In [5]:
LesValeurs, CS = np.unique(data["ALL_UNXP"], return_counts=True)
CS = CS.cumsum()
print("les valeurs:", LesValeurs)
print("CS", CS)
PP = np.round(100.*CS/CS[-1], 3)
{LesValeurs[i]: PP[i] for i in range(len(LesValeurs))}

les valeurs: [0]
CS [516]

{0: 100.0}

In [6]:
LesValeurs, CS = np.unique(data["UNXP"], return_counts=True)
CS = CS.cumsum()
print("les valeurs:", LesValeurs)
print("CS", CS)
PP = np.round(100.*CS/CS[-1], 3)
{LesValeurs[i]: PP[i] for i in range(len(LesValeurs))}

les valeurs: [0 1 2 3 4 5 6 7 8 9]
CS [403 449 488 498 510 512 513 514 515 516]

{0: 78.101,
 1: 87.016,
 2: 94.574,
 3: 96.512,
 4: 98.837,
 5: 99.225,
 6: 99.419,
 7: 99.612,
 8: 99.806,
 9: 100.0}